---
layout: page
---

{% if content != null and content != "" %}
<div class="post">{{ content }}</div>
{% endif %}

{% for post in site.posts %}
<div class="post{% if post.private %} private{% endif %}">
  <h2>{{ post.url | replace_first: "/", "" }}</h2>{% if post.private %} <small>(private)</small>{% endif %}
  {{ post.excerpt | markdownify }}
  <span class="read-more"><a href="{{ post.url | relative_url }}">&gt; Read more</a></span>
  {% include comments_footer.html page=post %}
</div>
{% endfor %} 
