---
layout: page
---

{% if page.private %}<div class="alert">
  <img alt="Lock" class="icon" src="/assets/images/lock.png">
  <span>[This is a private post. Only friends can see this.]</span>
</div>{% endif %}
<div class="post">
  {{ content }}
  {% if page.mood or page.listening_to %}
  <div class="post-footer">
    {% if page.mood %}<div class="mood">
      <strong>Mood:</strong><span>{{ page.mood }}</span>
    </div>{% endif %}
    {% if page.listening_to %}<div class="listening-to">
      <strong>Listening to:</strong><span>{{ page.listening_to }}</span>
    </div>{% endif %}
  </div>
  {% endif %}

  <div class="comments-footer">
    {% assign comments = site.data.comments[page.name] %}
    {% if comments %}
    {% for comment in comments.contents %}
    {% if comment.author > 0 %}
    {% increment actual_comments_count %}
    {% endif %}
    {% endfor %}
    {% if actual_comments_count > 0 %}
    <a href="{{ post_url }}/comments">{{ actual_comments_count }} comments</a>
    {% endif %}
    {% endif %}
    <a class="disabled" href="#"
       {% if comments.locked != null and comments.locked %}title="Comments Disabled"{% endif %}
    >(leave a comment)</a>
  </div>
</div>
